<div class="header">
<div class="container">
  <h1> My Todo List :,) </h1>
  <p> show </p>
</div>
</div>

<div class="main">
<div class="container">

      <ul class="comments">
        <li>
        <%= @post.task %> 
            <%= link_to '✎', edit_post_path(@post), :class => 'btn more' %>
            <%= link_to '✖', post_path(@post),
                method: :delete,
                data: { confirm: 'really?' }, :class => 'btn more' %>
          </li>
      </ul>

    
    <p> notes: </p>
    <%= form_with(model: [ @post, @post.notes.build ], local: true) do |p| %>
        <%= p.text_field :subtask, :placeholder => "this task includes .." %>
        <%= p.submit "+", :class => 'btn' %> 
    <% end %>

    <ul class="notes">
    <% @post.notes.select(&:persisted?).each do |n| %>
        <li>
            <%= n.subtask %>   
            <%= link_to '✖', [n.post, n],
                  method: :delete, :class => 'btn more' %>
        </li>
    <% end %>
    </ul>

    <%= link_to '←', posts_path, :class => 'btn' %>

</div>
</div>
