<div class="header">
<div class="container">
  <h1> My Todo List :,) </h1>
  <p> edit </p>
</div>
</div>

<div class="main">
<div class="container">

    <ul class="comments">
        <li>
        <%= @post.task %> 
          <%= link_to '✖', post_path(@post),
                method: :delete,
                data: { confirm: 'really?' }, :class => 'btn more' %>
          </li>
      </ul>

    <%= form_with(model: @post, local: true) do |p| %>  
        <%= p.text_field :task, :placeholder => "i need to ..." %>
        <%= p.submit "✎", :class => 'btn' %> 
    <% end %>
  
    <%= link_to '←', posts_path, :class => 'btn' %>

</div>
</div>
